body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.impostor {
  position: relative;
}
.impostor .body {
  position: relative;
  width: 300px;
  height: 420px;
  overflow: hidden;
  border-radius: 35% 45% 0 0;
  border: 30px solid #000;
}
.impostor .body .fill {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #7B0236;
}
.impostor .body .shadow {
  position: absolute;
  width: 100%;
  height: 90%;
  background: #C70A01;
  border-radius: 0% 10% 25% 48% / 20% 0% 100% 100%;
}
.impostor .glass-bowl {
  position: absolute;
  width: 220px;
  height: 130px;
  background: #4A646D;
  top: 90px;
  right: -20px;
  border: 30px solid black;
  border-radius: 25% 45% 40% 40% / 50%;
  transform: rotate(-4deg);
  overflow: hidden;
}
.impostor .glass-bowl .shadow-blue {
  position: absolute;
  right: 0;
  width: 90%;
  height: 70px;
  background: #94C9DB;
  border-radius: 10% 10% 100% 100% / 100% 100% 50% 100%

}
.impostor .glass-bowl .shadow-white {
  position: absolute;
  top: 10px;
  right: 40px;
  width: 100px;
  height: 40px;
  background: white;
  border-radius: 30% 70% 30% 30% / 30% 70% 30% 60%;
}
.impostor .legs {
  display: flex;
  justify-content: space-between;
  transform: translatey(-30px);
}
.impostor .legs .leg-left {
  width: 110px;
  height: 130px;
  background: #7B0236;
  border-left: 30px solid #000;
  border-bottom: 30px solid #000;
  border-right: 30px solid #000;
  border-radius: 0 0 40% 40%
}
.impostor .legs .leg-right {
  position: relative;
  width: 90px;
  height: 105px;
  background: #7B0236;
  border-left: 30px solid #000;
  border-bottom: 30px solid #000;
  border-right: 30px solid #000;
  border-radius: 0 0 40% 40%;
}
.impostor .legs .leg-right:before {
  content: '';
  position: absolute;
  top: 0;
  left: -60%;
  width: 100px;
  height: 30px;
  background: black;
  border-radius: 0 0 100% 0
}
.impostor .backpack {
  position: absolute;
  height: 280px;
  width: 90px;
  background: red;
  border: 30px solid #000;
  border-radius: 40% 0 0 40% / 15%;
  left: -75px;
  top: 130px;
  overflow: hidden;
}
.impostor .backpack .shadow {
  position: absolute;
  width: 100%;
  height: 85%;
  background: #7B0236;
  bottom: 0;
  border-radius: 40% 0 0 0 / 10% 0 0 0;
}
.impostor .floor-shadow {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translatex(-50%);
  width: 450px;
  height: 80px;
  background: #525858;
  border-radius: 50%;
}
